cloudtrail_bucket_name  = "something-org-cloudtrail-logs"
bucket                  = "something-terraform"
key                     = "security/terraform.tfstate"
region                  = "us-east-1"
dynamodb_table          = "something-terraform-locks"
encrypt                 = true
guardduty_bucket_name   = "something-org-guardduty-findings"
guardduty_kms_key_alias = "alias/guardduty-findings"
# Regions to enable GuardDuty in
guardduty_enabled_regions = {
  "us-east-1"    = true
  "us-east-2"    = false
  "us-west-1"    = false
  "us-west-2"    = false
  "eu-central-1" = false
  "eu-west-1"    = false
}